<div class=" row " type="note" id="<%= note.id %>">
  <div class=" col-8 pr-0 ">
    <div class=" input-group input-group-sm ">
      <input id="variable" type="text" class="form-control" placeholder="variable" value="<%= note.variable %>"></input>
    </div>
  </div>
  <% if note.id != nil %>
    <% pr = 'pr-1' %>
  <% else %>
    <% pr = '' %>
  <% end %>
  <div class=" col pl-1 <%= pr %> ">
    <div class=" input-group input-group-sm ">
      <input id="osc" type="text" class="form-control" placeholder="osc" value="<%= note.osc %>"></input>
    </div>
  </div>
  <% if note.id != nil %>
    <div class=" col-1 pl-0 pr-0 ">
      <div class=" input-group input-group-sm ">
        <%= link_to '-', note, method: :delete, data: {confirm: "Are you sure you want to delete this note?"}, class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
