<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><strong><%= user_name %></strong>: <%= current_layout.name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Save Values </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit', edit_layout_path(current_layout), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Remove ', current_layout, method: :delete,
          data: { confirm: "Are you sure you want to permanently remove this layout?" },
          class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Load 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% for layout in layouts %>
            <%= link_to layout.name, layouts_change_path(id: layout.id), class: 'dropdown-item' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void()" data-toggle="modal", data-target="#newLayoutModal">New </a>
        </div>
      </li>
      <li class=" nav-item dropdown ">
        <%= link_to 'Switch User', destroy_user_session_path, method: :delete,
          data: { confirm: "Are you sure you want to switch users?" }, class: " nav-link "%>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade text-body" id="newLayoutModal" tabindex="-1" role="dialog" aria-labelledby="newLayoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newLayoutModalLabel">New Layout Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag new_layout_path, method: 'get' do %>
        <div class="modal-body">
          <%= text_field_tag :name, '', placeholder: 'default',  class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag :Create, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
