<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><strong><%= user_name %></strong>: <%= current_layout.name %>: <strong>EDIT</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          +Add Item
        </a>
        <div id="dropdown_component_list" class="dropdown-menu"></div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#itemPropertiesModal">Item Properties </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#layoutPropertiesModal">Layout Properties </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Variables', notes_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Save Layout', current_layout, onclick: "GUI.save_layout()", class: 'nav-link' %>
      </li>
      <li class="nav-divider">
        <a>-------------------</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Cancel', current_layout, class: 'nav-link' %>
      </li>
    </ul>
  </div>

</nav>

<!-- Modal -->
<div class="modal fade text-body" id="itemPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="itemPropertiesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemPropertiesModalLabel">Item Properties</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade text-body" id="layoutPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="layoutPropertiesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="layoutPropertiesModalLabel">Layout Properties</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Save</button>
      </div>
    </div>
  </div>
</div>
