<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><strong><%= user_name %></strong>: <%= current_layout.name %>: <strong>EDIT</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          +Add Item
        </a>
        <div id="dropdown_component_list" class="dropdown-menu"></div>
      </li>

      <li id="link_item_prop" class="nav-item" hidden>
        <a class="nav-link" href="#" data-toggle="modal" data-target="#itemPropertiesModal">Item Properties </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#layoutPropertiesModal">Layout Properties </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Variables', notes_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Save Layout', current_layout, onclick: "GUI.save_layout()", class: 'nav-link' %>
      </li>
      <li class="nav-divider">
        <a>-------------------</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Cancel', current_layout, class: 'nav-link' %>
      </li>
    </ul>
  </div>

</nav>

<!-- Modal -->
<div class="modal fade text-body" id="itemPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="itemPropertiesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemPropertiesModalLabel">Item Properties</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag component_path, method: :put do %>
        <div class="modal-body">
          <div class=" row ">
            <div class=" col ">
              <div class=" input-group mb-2 ">
                <div class=" input-group-prepend ">
                  <span class=" input-group-text " style=" width: 88px; ">Variable: </span>
                </div>
                <%= text_field_tag :variable, '', placeholder: 'variable', id: 'text_field_variable', class: 'form-control text-center' %>
              </div>
            </div>
          </div>
          <div class=" row ">
            <div class=" col ">
              <div class=" input-group mb-2 ">
                <div class=" input-group-prepend ">
                  <span class=" input-group-text " style=" width: 88px; ">Color: </span>
                </div>
                <%= text_field_tag :color, '', placeholder: 'color', id: 'text_field_color', class: 'form-control text-center' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            data-toggle="collapse" data-target="#navbarSupportedContent" >Cancel</button>
          <button id="btn_save_item_prop" type="button" class="btn btn-primary" data-dismiss="modal"
            data-toggle="collapse" data-target="#navbarSupportedContent" >Save</button>
          <%#= link_to :Save, edit_layout_path(current_layout), id: 'btn_save_item_prop', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade text-body" id="layoutPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="layoutPropertiesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="layoutPropertiesModalLabel">Layout Properties</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Save</button>
      </div>
    </div>
  </div>
</div>
